html {
    font-family: 'Montserrat', sans-serif;
}
#nav {
    display: block;
}
.nav_list {
    display: flex;
}
.nav_list li a {
  text-decoration: none;
  font-weight: bold;
  transition: letter-spacing 2s;
  padding: 20px;

}
.nav_list li a:hover {
    letter-spacing: 10px;
}
.nav_list li {
    list-style: none;
}
#hero_title{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.hero_writing{
    text-align: center;
    padding: 0 100px;
}
footer p{
    text-align: center;
}
#service_table{
    display: block;
    padding-left: 350px;

}
.table_black{
    background-color: black;
}
.table_black td{
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 10px;
}
#service_table td{
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 20px;
}
#pictures {
    padding: 20px;
}
#pictures img {
    float: left;
    width: 20%;
    height: 20%;
    padding: 10px 0px 20px 0;
}
form{
    width: auto;
    height: auto;
padding-left: 300px;
}
form input{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
}
form textarea{
    width: 300px;
    height: 150px;
    resize: none;
    border: 2px solid;
    border-radius: 4px;
    padding: 12px 20px;
}
form input[type=submit]{
    width: 300px;
    background-color: black;
    color: white;
}